$box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
$light-blue: #99CCFF;
$gray: #666666;
$light-gray: #E5E5E5;
$orange: #D75404;

body {
  margin: 0;
  font-family: Avenir, sans-serif;
  color: $gray;
  background: $light-gray;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: white;

  .poster img {
      height: 100%;
      width: auto;
      bottom: 0;
      position: absolute;
      display: none;
  }

  .filter {
    z-index: 10;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    bottom: 0;
  }
  video {
    position: absolute;
    z-index: 0;
    bottom: 0;
  }
  video.fillWidth {
      height: 100%;
      width: auto;
  }
}

#menu-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 3em;
  background-color: $light-blue; /* almost black */
  text-align: right;
  top: 0;
  position: fixed;
  box-shadow: $box-shadow;
  z-index: 1000;
  display: block;

  .menu-btn {
    display: inline-block;
    width: 5em; /* each menu item block will be this width */
    text-align: center;
    height: 100%;
    line-height: 3em; /* set to be the same as the height of ul so it is vertically centered */

    .menu-link {
      text-decoration: none;
      color: white;
    }

    .menu-link:hover {
      opacity: 0.5;
    }
  }
}

body#home a#nav-home,
body#photos a#nav-photos,
body#resume a#nav-resume
{
	color: $light-gray;
}
#logo {
  float: left;
}


body#welcome {
  background: white;

  #menu-container {
    display: none;
  }

  #welcome-center-container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    z-index: 50;
    color: white;

    margin: 15% auto;

    h1 {
      font-size: 8em;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
    }
    h4 {
      font-size: 2em;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
    }

    .bold-button {
      height: 40px;
      width: 125px;
      border: 0px;
      border-radius: .3em;
      font-size: 1em;
      margin: 1em 0em;
    }
    .bold-button#sign-up-button {
      background-color: $light-blue;
      color: white;
      margin-right: .5em;
    }
    .bold-button#login-button {
      background-color: white;
      color: $light-blue;
      border: 2px solid $light-blue;
      margin-left: .5em;
    }
    .bold-button:hover {
      opacity: .8;
      transition: opacity .3s;
    }
  }
}


#workspace {
  display: inline-block;
  float: left;
  width: 51em;
  height: 66em;
  background: white;
  vertical-align: top;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 4em;
  margin-bottom: 2em;
  box-shadow: $box-shadow;
}

#right-panel {
  display: inline-block;
  float: left;
  width: 15em;
  background: $gray;
  color: white;
  vertical-align: top;
  margin-top: 4em;
  margin-right: 1em;
  padding: 1em;
  box-shadow: $box-shadow;
}

