<div class="testgridbox day"  draggable="true">
	<span class="addrow-gridbox">+</span>
	<span class="deleterow-gridbox">-</span>
	<span class="delete-gridbox">x</span>
	<table class="day-table">
		<tr>
			<th><input value="Friday"></th>
		</tr>
		<tr class="day-main-row">
			<td><textarea class="day-input" value=""></textarea></td>
		</tr>
		<tr class="day-main-row">
			<td><textarea class="day-input" value=""></textarea></td>
		</tr>
		<tr class="day-main-row">
			<td><textarea class="day-input" value=""></textarea></td>
		</tr>
		<tr class="day-main-row">
			<td><textarea class="day-input" value=""></textarea></td>
		</tr>
		<tr class="day-main-row">
			<td><textarea class="day-input" value=""></textarea></td>
		</tr>
		<tr class="day-main-row">
			<td><textarea class="day-input" value=""></textarea></td>
		</tr>
		<tr class="day-main-row">
			<td><textarea class="day-input" value=""></textarea></td>
		</tr>
		<tr class="day-main-row">
			<td><textarea class="day-input" value=""></textarea></td>
		</tr>
	</table>
</div>