<label for="month-title-format">Month Title Format</label>
<select name="month-title-format" id="month-title-format">
  <option value="volvo" disabled>Month Title Format</option>
  <option value="saab">January</option>
  <option value="mercedes">January 2016</option>
  <option value="audi">Jan</option>
  <option value="saab">Jan 2016</option>
  <option value="mercedes">01</option>
  <option value="audi">01/2016</option>
</select>

<label for="date-number-format">Date Number Format</label>
<select name="date-number-format" id="date-number-format">
  <option value="volvo" disabled>Date Number Format</option>
  <option value="saab">1, 2, 3</option>
  <option value="mercedes">01, 02, 03</option>
</select>

<table>
	<tr>
		<th><input value="Sunday"></th>
		<th><input value="Monday"></th>
		<th><input value="Tuesday"></th>
		<th><input value="Wednesday"></th>
		<th><input value="Thursday"></th>
		<th><input value="Friday"></th>
		<th><input value="Saturday"></th>
	</tr>
	<tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
	</tr>
	<tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
	</tr>
	<tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
	</tr>


</table>