<div class="testgridbox month">
	<span class="delete-gridbox">x</span>
	<table class="month-table">
		<tr>
			<th><input value="Sunday"></th>
			<th><input value="Monday"></th>
			<th><input value="Tuesday"></th>
			<th><input value="Wednesday"></th>
			<th><input value="Thursday"></th>
			<th><input value="Friday"></th>
			<th><input value="Saturday"></th>
		</tr>
		<tr class="month-main-row">
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr class="month-main-row">
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr class="month-main-row">
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr class="month-main-row">
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>