<div class="testgridbox week"  draggable="true">
	<span class="addrow-gridbox">+</span>
	<span class="deleterow-gridbox">-</span>
	<span class="delete-gridbox">x</span>
	<table class="week-table">
		<tr class="header-row">
			<th><input value="Sunday"></th>
			<th><input value="Monday"></th>
			<th><input value="Tuesday"></th>
			<th><input value="Wednesday"></th>
			<th><input value="Thursday"></th>
			<th><input value="Friday"></th>
			<th><input value="Saturday"></th>
		</tr>
		<tr class="week-main-row">
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
		</tr>
		<tr class="week-main-row">
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
		</tr>
		<tr class="week-main-row">
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
		</tr>
		<tr class="week-main-row">
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
		</tr>
		<tr class="week-main-row">
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
		</tr>
		<tr class="week-main-row">
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
			<td><textarea class="week-input" value=""></textarea></td>
		</tr>
	</table>
</div>