$box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
$light-blue: #99CCFF;
$mid-blue: #6b8eb2;
$mid-gray: #5b5b5b;
$light-mid-gray: #7b7b7b;
$dark-gray: #3d3d3d;
$text-gray: #666666;
$light-gray: #E5E5E5;
$orange: #D75404;
$mid-orange: #a54003;
$dark-orange: #8c3703;
$red: rgba(255,104,115,1);

body {
    margin: 0;
    font-family: Avenir, sans-serif;
    color: $text-gray;
    background: $light-gray;
}

#menu-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3em;
    background-color: $light-blue; /* almost black */
    text-align: right;
    top: 0;
    position: fixed;
    box-shadow: $box-shadow;
    z-index: 1000;
    display: block;

    .menu-btn {
        display: inline-block;
        width: 5em; /* each menu item block will be this width */
        text-align: center;
        height: 100%;
        line-height: 3em; /* set to same height as ul so it is vertically centered */

        .menu-link {
            text-decoration: none;
            color: white;
        }

        .menu-link:hover {
            opacity: 0.5;
        }
    }
}

#logo {
    float: left;
}

#workspace {
    display: inline-block;
    float: left;
    width: 51em;
    height: 66em;
    background: white;
    vertical-align: top;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 4em;
    margin-bottom: 2em;
    box-shadow: $box-shadow;
}

/* panel accordion transitions */
.no-select {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flipIn {
    animation: flipdown 0.5s ease both;
}

@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }

    5% {
        opacity: 1;
    }

    80% {
        transform: rotateX(8deg);
    }

    83% {
        transform: rotateX(6deg);
    }
    92% {
        transform: rotateX(3deg);
    }

    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
}
/* END panel accordion transitions */

#right-panel {
    position: fixed;
    display: inline-block;
    float: left;
    width: 15em;
    background: $text-gray;
    color: white;
    vertical-align: top;
    margin-top: 4em;
    margin-right: 1em;
    box-shadow: $box-shadow;
    overflow-y: scroll;

    #right-panel-title {
        background-color: none;
        padding: .25em 1em;
        margin: 0;
        background-color: $dark-gray;
    } 

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            position: relative;
            padding: 0;
            margin: 0;
            @extend .flipIn;

            label.panel-section-title {
                background: $mid-gray; /* fallback colour */
                display: block;
                margin: 0;
                padding: 0 1em;
                line-height: 200%;
                height: 2em;
                font-size: .85em;
                cursor: pointer;
                @extend .no-select;
                font-weight: 200;
                text-shadow: 0 1px 1px #000;
                box-shadow: $box-shadow;
                border-top: 1px solid $light-mid-gray;
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($mid-gray), to($dark-gray));
                background: -webkit-linear-gradient(top, $mid-gray, $dark-gray);
                background: -moz-linear-gradient(top, $mid-gray, $dark-gray);
                background: -ms-linear-gradient(top, $mid-gray, $dark-gray);
                background: -o-linear-gradient(top, $mid-gray, $dark-gray);
            }

            label.panel-section-title:hover {
                background: #7aa3cc; /* fallback colour */
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#566f82), to(#3e505e));
                background: -webkit-linear-gradient(top, #566f82, #3e505e);
                background: -moz-linear-gradient(top, #566f82, #3e505e);
                background: -ms-linear-gradient(top, #566f82, #3e505e);
                background: -o-linear-gradient(top, #566f82, #3e505e);
            }

            input[type=checkbox] {
                position: absolute;
                cursor: pointer;
                width: 100%;
                height: 100%;
                display: none;
            }

            input[type='checkbox']:checked ~ label {
                background: $mid-blue; /* fallback colour */
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($light-blue), to($mid-blue));
                background: -webkit-linear-gradient(top, $light-blue, $mid-blue);
                background: -moz-linear-gradient(top, $mid-blue, #89b7e5);
                background: -ms-linear-gradient(top, $mid-blue, #89b7e5);
                background: -o-linear-gradient(top, $mid-blue, #89b7e5);
            }

            input[type='checkbox']:checked ~ .panel-section {
                height: auto;
                display: block;
                min-height: 40px;
                max-height: 400px;
                @extend .flipIn;
            }

            .panel-section {
                position: relative;
                overflow: hidden;
                max-height: 800px;
                z-index: 2;
                padding-left: 1em;
                padding-bottom: 1em;
                display: none;
                font-size: .75em;

                button {
                    width: auto;
                    height: 2em;
                    border: 0px;
                    border-radius: .25em;
                    background-color: $orange;
                    color: white;
                    padding: 0px 10px;
                    margin: 0 1em;
                    transition: all .4s;
                }

                button:hover  {
                    background-color: $mid-orange;
                }

                button:active {
                    background-color: $dark-orange;
                }

                .add-schedule-button {
                    display: block;
                    margin: 1em 0;
                }

                .add-item {
                    h5 {
                        margin-top: 1em;
                        margin-bottom: 0;
                    }
                    input {
                        border: 0px;
                        border-radius: .25em;
                        width: 30px;
                        padding: 5px;
                    }
                }

                .design-attributes {
                    padding-top: 1em;
                }
      }
    }
  }
}

