body {
  margin: 0;
  font-family: Avenir, sans-serif;
  color: #666666;
  background: #E5E5E5; }

#menu-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 3em;
  background-color: #99CCFF;
  /* almost black */
  text-align: right;
  top: 0;
  position: fixed;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.35);
  z-index: 1000;
  display: block; }
  #menu-container .menu-btn {
    display: inline-block;
    width: 5em;
    /* each menu item block will be this width */
    text-align: center;
    height: 100%;
    line-height: 3em;
    /* set to same height as ul so it is vertically centered */ }
    #menu-container .menu-btn .menu-link {
      text-decoration: none;
      color: white; }
    #menu-container .menu-btn .menu-link:hover {
      opacity: 0.5; }

#logo {
  float: left; }

#design-details-section {
  margin-top: 4em;
  margin-bottom: 1em; }

#design-details-section-item {
  display: inline; }

#current-design-name {
  border: 0px;
  border-radius: .25em;
  width: 60px;
  padding: 5px; }

.error-input {
  border: 2px solid red; }

#workspace {
  display: inline-block;
  float: left;
  width: 51em;
  height: 66em;
  background: white;
  vertical-align: top;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.35);
  position: relative; }

/* panel accordion transitions */
.no-select, #right-panel ul li label.panel-section-title {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flipIn, #right-panel ul li, #right-panel ul li input[type='checkbox']:checked ~ .panel-section {
  animation: flipdown 0.5s ease both; }

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg); }
  5% {
    opacity: 1; }
  80% {
    transform: rotateX(8deg); }
  83% {
    transform: rotateX(6deg); }
  92% {
    transform: rotateX(3deg); }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg); } }
/* END panel accordion transitions */
#overlay {
  visibility: hidden;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  text-align: center;
  z-index: 1000; }

#overlay div {
  width: 300px;
  margin: 100px auto;
  background-color: #fe3f23;
  border: 1px solid #000;
  padding: 15px;
  text-align: center; }

#preview-exit {
  float: right;
  margin: 20px 30px 20px 20px; }

[draggable=true] {
  cursor: move; }

.statusmsg {
  font-size: 12px;
  /* Set message font size  */
  padding: 3px;
  /* Some padding to make some more space for our text  */
  background: #EDEDED;
  /* Add a background color to our status message   */
  border: 1px solid #DFDFDF;
  /* Add a border arround our status message   */ }

#right-panel {
  position: absolute;
  z-index: 900;
  width: 15em;
  left: 1em;
  top: 4em;
  background: #666666;
  color: white;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.35);
  overflow-y: scroll; }
  #right-panel #right-panel-title {
    background-color: none;
    padding: .25em 1em;
    margin: 0;
    background-color: #3d3d3d; }
  #right-panel ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    #right-panel ul li {
      position: relative;
      padding: 0;
      margin: 0; }
      #right-panel ul li label.panel-section-title {
        background: #5b5b5b;
        /* fallback colour */
        display: block;
        margin: 0;
        padding: 0 1em;
        line-height: 200%;
        height: 2em;
        font-size: .85em;
        cursor: pointer;
        font-weight: 200;
        text-shadow: 0 1px 1px #000;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.35);
        border-top: 1px solid #7b7b7b;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5b5b5b), to(#3d3d3d));
        background: -webkit-linear-gradient(top, #5b5b5b, #3d3d3d);
        background: -moz-linear-gradient(top, #5b5b5b, #3d3d3d);
        background: -ms-linear-gradient(top, #5b5b5b, #3d3d3d);
        background: -o-linear-gradient(top, #5b5b5b, #3d3d3d); }
      #right-panel ul li label.panel-section-title:hover {
        background: #7aa3cc;
        /* fallback colour */
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#566f82), to(#3e505e));
        background: -webkit-linear-gradient(top, #566f82, #3e505e);
        background: -moz-linear-gradient(top, #566f82, #3e505e);
        background: -ms-linear-gradient(top, #566f82, #3e505e);
        background: -o-linear-gradient(top, #566f82, #3e505e); }
      #right-panel ul li input[type=checkbox] {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: none; }
      #right-panel ul li input[type='checkbox']:checked ~ label {
        background: #6b8eb2;
        /* fallback colour */
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CCFF), to(#6b8eb2));
        background: -webkit-linear-gradient(top, #99CCFF, #6b8eb2);
        background: -moz-linear-gradient(top, #6b8eb2, #89b7e5);
        background: -ms-linear-gradient(top, #6b8eb2, #89b7e5);
        background: -o-linear-gradient(top, #6b8eb2, #89b7e5); }
      #right-panel ul li input[type='checkbox']:checked ~ .panel-section {
        height: auto;
        display: block;
        min-height: 40px;
        max-height: 400px; }
      #right-panel ul li .panel-section {
        position: relative;
        overflow: hidden;
        max-height: 800px;
        z-index: 2;
        padding-left: 1em;
        padding-bottom: 1em;
        display: none;
        font-size: .75em; }
        #right-panel ul li .panel-section button, #right-panel ul li .panel-section .save-preview-print-button {
          width: auto;
          height: 2.5em;
          border: 1px solid #a54003;
          border-radius: .25em;
          background-color: #D75404;
          display: block;
          margin: 1em 1em;
          color: white;
          padding: 0px 10px;
          transition: all .25s; }
        #right-panel ul li .panel-section button:hover, #right-panel ul li .panel-section button:active {
          background-color: #a54003;
          border: 1px solid #a54003; }
        #right-panel ul li .panel-section button:active {
          background-color: #8c3703; }
        #right-panel ul li .panel-section .add-schedule-button {
          display: block;
          margin: 1em 0;
          width: 50%; }
        #right-panel ul li .panel-section #delete-selected {
          background-color: white;
          color: #8c3703;
          border: 1px solid white; }
        #right-panel ul li .panel-section #delete-selected:hover, #right-panel ul li .panel-section #delete-selected:active {
          color: #D75404; }
        #right-panel ul li .panel-section .add-item h5 {
          margin-top: 1em;
          margin-bottom: 0; }
        #right-panel ul li .panel-section .add-item input {
          border: 0px;
          border-radius: .25em;
          width: 30px;
          padding: 5px; }
        #right-panel ul li .panel-section .design-attributes {
          padding-top: 1em; }
        #right-panel ul li .panel-section .design-attributes select, #right-panel ul li .panel-section .design-attributes input {
          width: 50%;
          display: block;
          border: none;
          height: 2em;
          margin: .25em;
          outline-width: 1px; }

@media print {
  #right-panel, header {
    display: none; }

  @page {
    padding: 0;
    margin: 0; }
  #workspace {
    display: block;
    margin: 0;
    box-shadow: none; } }

/*# sourceMappingURL=style.css.map */
