.testgridbox {
    border: 2px #E5E5E5 solid; /* light gray */
    z-index: 150;
    position: absolute;
    left: 0;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    min-height: 2em;
    min-width: 2em;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    background-color: white;
} .testgridbox:hover {
    opacity: 0.7;
    border-color: #99CCFF;
}

.addrow-gridbox {
	position: absolute;
	right: 28px;
	top: 0;
	color: #E5E5E5;
} .addrow-gridbox:hover {
	color: #666666;
    cursor: pointer;
}

.deleterow-gridbox {
	position: absolute;
	right: 18px;
	top: 0;
	color: #E5E5E5;
} .deleterow-gridbox:hover {
	color: #666666;
    cursor: pointer;
}

.delete-gridbox {
	position: absolute;
	right: 6px;
	top: 0;
	color: #E5E5E5;
} .delete-gridbox:hover {
	color: #666666;
    cursor: pointer;
}

.boxtitle, .boxlisttitle {
    width: calc(100% - 18px);
    background-color: transparent !important;
    border: none;
    outline: none;

    margin: 3px;

    font-size: 1em;
} .boxtitle:focus, .boxlisttitle:focus {
    border-bottom: 1px #99CCFF solid;
}

.boxtext {
    height: calc(100% - 32px);
    width: calc(100% - 6px);
    resize: none;
    border: none;
    background-color: transparent !important;
    outline-width: 1px;

    margin: 3px;

    font-family: inherit;
    font-size: 1em;  
}

.boxlist-li {
    background-color: transparent !important;
}

.boxlist-input {
	border: none;
    background-color: transparent !important;
    width: 95%;
    font: inherit;
    outline: none;
} .boxlist-input:focus {
	border-bottom: 1px #99CCFF solid;
}

.box-selected {
    border-color: #99CCFF;
}

th {
    height: 2em;
}
th input {
    width: 100%;
    height: 2em;
    border: none;
    background-color: transparent !important;
    font: inherit;
    outline: none;
} th input:focus {
    border-bottom: 1px #99CCFF solid;
}

th, td {
	border: 1px solid #E5E5E5;
	border-collapse: collapse;
    min-width: 3em;
    min-height: 2em;
}

.month {
	width: calc(100%-2px);
    min-height: 14em;
    min-width: 24em;
}

.month-table {
	width: 100%;
    height: 100%;
	border: 1px solid #E5E5E5;
	border-collapse: collapse;
}

.month-main-row {
    height: 3em;
}

.month-input {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    font-family: inherit;
    outline: none;
    background: transparent;
} .month-input:focus {
    border-bottom: 1px #99CCFF solid;
}

.week {
	width: calc(100%-4px);
    min-height: 12em;
    min-width: 24em;
}

.week-table {
    width: 100%;
    height: 100%;
    border: 1px solid #E5E5E5;
    border-collapse: collapse;
}

.week-main-row {
    height: 2em;
}

.week-input {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    font-family: inherit;
    outline: none;
    background: transparent;
} .week-input:focus {
    border-bottom: 1px #99CCFF solid;
}

.day {
	/*width: calc(100%-4px);*/
    min-height: 18em;
    min-width: 6em;
}

.day-table {
    width: 100%;
    height: 100%;
    border: 1px solid #E5E5E5;
    border-collapse: collapse;
}

.day-main-row {
    height: 2em;
}

.day-input {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    font-family: inherit;
    outline: none;
    background: transparent;
} .day-input:focus {
    border-bottom: 1px #99CCFF solid;
}

.ui-widget-content {
	background: white;
}

@media print {
    .delete-gridbox, .addrow-gridbox, .deleterow-gridbox {
        display: none;
    }
}