.testgridbox {
    border: 2px #E5E5E5 solid; /* light gray */
    z-index: 150;
    position: absolute;
    left: 0;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.delete-gridbox {
	position: absolute;
	right: 6px;
	top: 0;
	color: #E5E5E5;

} .delete-gridbox:hover {
	color: #666666;
    cursor: pointer;
}

.boxtitle, .boxlisttitle {
    width: calc(100% - 18px);
    background-color: transparent !important;
    border: none;
    outline: none;

    margin: 3px;

    font-size: 1em;
} .boxtitle:focus, .boxlisttitle:focus {
    border-bottom: 1px #99CCFF solid;
}

.boxtext {
    height: calc(100% - 32px);
    width: calc(100% - 6px);
    resize: none;
    border: none;
    background-color: transparent !important;
    outline-width: 1px;

    margin: 3px;

    font-family: inherit;
    font-size: 1em;  
}

.boxlist-li {
    background-color: transparent !important;
}

.boxlist-input {
	border: none;
    background-color: transparent !important;
    width: 95%;
    font: inherit;
    outline: none;
} .boxlist-input:focus {
	border-bottom: 1px #99CCFF solid;
}

.box-selected {
    border-color: #99CCFF;
}

.month {
	width: calc(100%-2px);
    min-height: 14em;
    min-width: 24em;
}

.week {
	width: calc(100%-4px);
    min-height: 12em;
    min-width: 24em;
}

.month-table {
	width: 100%;
    height: 100%;
	border: 1px solid #E5E5E5;
	border-collapse: collapse;
}

.week-table {
    width: 100%;
    height: 100%;
    border: 1px solid #E5E5E5;
    border-collapse: collapse;
}

th input {
    width: 100%;
    height: 2em;
    border: none;
    background-color: transparent !important;
    font: inherit;
    outline: none;
} th input:focus {
    border-bottom: 1px #99CCFF solid;
}

th, td {
	border: 1px solid #E5E5E5;
	border-collapse: collapse;
    min-width: 3em;
    min-height: 2em;
}
.month-main-row {
    height: 3em;
}

.month-table tr th, .week-table tr th {
    height: 2em;
}

.week-main-row {
    height: 10em;
}

.ui-widget-content {
	background: transparent;
}

@media print {
    .delete-gridbox {
        display: none;
    }
}