.video-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100; }
  .video-container .filter {
    z-index: 10;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%; }
  .video-container .fullscreen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    left: -100%; }

body#welcome {
  background: white; }
  body#welcome #welcome-center-container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    z-index: 50;
    color: white;
    transition: translate .5s ease;
    margin: 15% auto; }
    body#welcome #welcome-center-container h1 {
      font-size: 8em;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0; }
    body#welcome #welcome-center-container h4 {
      font-size: 2em;
      color: #D75404;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0; }
    body#welcome #welcome-center-container .bold-button {
      height: 40px;
      width: 125px;
      border: 0px;
      border-radius: .2em;
      font-size: 1em;
      margin: 1em 0em; }
      body#welcome #welcome-center-container .bold-button a {
        text-decoration: none; }
    body#welcome #welcome-center-container .bold-button {
      background-color: #99CCFF;
      color: white;
      transition: all ease 0.3s; }
    body#welcome #welcome-center-container #sign-up-button {
      margin-right: 1em; }
    body#welcome #welcome-center-container .bold-button-active {
      background-color: white;
      border: 2px solid #99CCFF;
      color: #99CCFF; }
    body#welcome #welcome-center-container .bold-button:hover {
      opacity: .8;
      transition: opacity .3s; }
    body#welcome #welcome-center-container #login-section {
      display: none;
      transition: all .3s ease .15s; }
    body#welcome #welcome-center-container #sign-up-section {
      display: none;
      transition: all .3s ease .15s; }
    body#welcome #welcome-center-container input {
      height: 30px;
      width: 250px;
      font-size: 1em;
      color: #666666;
      margin: .5em auto;
      display: block;
      border: 0px;
      padding: .3em .5em;
      border-radius: .1em; }
    body#welcome #welcome-center-container #login-go, body#welcome #welcome-center-container #sign-up-go {
      background: #D75404;
      color: white;
      width: 250px; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em; }
  footer a {
    color: #99CCFF;
    text-decoration: none;
    font-weight: 400; }
    footer a span {
      color: #D75404; }

.pulse {
  animation-name: pulse;
  -webkit-animation-name: pulse;
  animation-duration: 1.25s;
  -webkit-animation-duration: 1.25s;
  animation-iteration-count: 2;
  -webkit-animation-iteration-count: 2;
  animation-delay: 2s;
  -webkit-animation-delay: 2s; }

@keyframes pulse {
  25% {
    transform: scale(1.1);
    opacity: 0.7; }
  75% {
    transform: scale(1);
    opacity: 1; } }
@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.05);
    opacity: 0.7; }
  75% {
    -webkit-transform: scale(1);
    opacity: 1; } }
/* RESPONSIVENESS */
@media screen and (max-width: 620px) {
  .video-container {
    background: url("../images/working-it/Snapshots/Working-it.jpg") center center/cover no-repeat;
    left: -80%; }

  .fullscreen-video {
    display: none; } }
/* MOBILE */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
  .video-container {
    background: url("../images/working-it/Snapshots/Working-it.jpg") center center/cover no-repeat;
    left: -80%; }

  .fullscreen-video {
    display: none; } }

/*# sourceMappingURL=welcome.css.map */
